<div class="content">
	<h2>What is this?</h2>
	<p class="about">
		Cameron is the any time pick-me-up service. It uses <a href="https://en.wikipedia.org/wiki/Markov_chain">markov chains</a> to generate compliments for when you're not feeling your best.
	</p>
</div>