<div class="content">
	<p>
		Cameron is the any time pick-me-up service. It uses <a href="https://en.wikipedia.org/wiki/Markov_chain">markov chains</a> to generate compliments for when you're not feeling your best.
	</p>
	<p>
		You can learn more in the <a href="/docs">documentation</a>.
	</p>
</div>