<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
		<link rel="stylesheet" href="stylesheets/style.css">
	</head>
	<body>
		<div class="wrapper">
			<nav id="banner">
				<h1><i class="fa fa-smile-o"></i>{{ title }}</h1>
				<ul class="page-links">
					<!-- Make these all clean links -->
					<li><a href="/">Home</a></li>
					<li><a href="/about.html">About</a></li>
					<li><a href="/docs.html">Documentation</a></li>
				</ul>
			</nav>
			<h1> {{ compliment }} </h1>
		</div>
	</body>
	<script src="scripts/script.js"></script>
</html>